
# HTID:20957304: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:20957304:

php_value upload_max_filesize 100M
php_value post_max_size 100M